<h1>My Address Book</h1>

<ul>
	<li><%= link_to("New Contact", add_contacts_path) %></li>
</ul>


<% ("A"..."Z").each do |letter| %>
	<%= link_to(letter, letter_sort_path(letter)) %>
<% end %>





<% @contacts.each do |person| %>
	<div style="margin-bottom: 10px;">
		<ul>
			<li>Name: <%= person.name %></li>
			<li>Address: <%= person.address %></li>
			<li>Phone Number: <%= person.phone_number %></li>
			<li>Alt Phone Number: <%= person.phone_number_alt %></li>
			<li>Email: <%= person.email_address %></li>
			<li>Alt Email: <%= person.email_address_alt %></li>
		</ul>
	</div>
<% end %>



 <script>
// 	$('.sort-btn').on('click', function() {
// 		$.post("sort", "asc");
// 	});
</script>