<h1>Add New Contact</h1>


<ul>
  <li><%= link_to("All Contacts", home_path) %></li>
  <li><%= link_to("New Contact", add_contacts_path) %></li>
</ul>


<% if flash[:error] %>
	<ul>
      <% @person.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
<% end %>


<%= form_for @person do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :address %>:
  <%= f.text_field :address %><br />

  <%= f.label :phone_number %>:
  <%= f.telephone_field :phone_number %><br />

  <%= f.label :phone_number_alt %>:
  <%= f.telephone_field :phone_number_alt %><br />

  <%= f.label :email_address %>:
  <%= f.email_field :email_address %><br />

  <%= f.label :email_address_alt %>:
  <%= f.email_field :email_address_alt %><br />

  <%= f.submit %>
<% end %>